.vertical-border {
  display: inline-block;
  font-size: calc(5vw + 16px);
  line-height: 0.9;
  width: 1.5vw;
  border-left: 0.2em solid rgba(0, 0, 0, 0);
  background: linear-gradient(#fff, #fff) padding-box,
    repeating-linear-gradient(
        -65deg,
        #f8f9fa 12.5vw,
        #e9ecef 0 25vw,
        #dee2e6 0 37.5vw,
        #ced4da 0 50vw,
        #adb5bd 0 62.5vw,
        #6c757d 0 75vw,
        #495057 0 87.5vw,
        #343a40 0 100vw
      )
      border-box;
  background-size: 200vw 100vh;
  background-attachment: fixed;
}

.entry {
  display: flex;
  margin-bottom: 10%;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #adb5bd 0, #343a40);
}
.entry:hover {
  transform: scale(1.04);
}
.entry-buttons {
  display: flex;
}
.rounded-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.active-button {
  background: linear-gradient(180deg, #a79ee5 0, #2d227c);
}
.vertical-border {
  display: flex;
  flex-direction: column;
}

.entry-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.entry-date-mood,
.entry-tech,
.entry-notes {
  display: flex;
}

.entry-date-mood,
.entry-notes {
  justify-content: space-evenly;
}
.entry-tech {
  justify-content: center;
}
