.navbar {
  font-size: calc(4vw + 5px);
  position: absolute;
  right: 22px;
  width: 100%;
  display: flex;
}
.nav-links,
.nav-links-logo,
.logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ced4da;
}

.nav-links {
  padding-right: 5%;
}

.main-nav {
  list-style-type: none;
  text-align: center;
  margin: 15px auto;
  display: none;
}
.logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 50px;
  font-size: calc(1rem + 2vw);
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.active {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  line-height: 35px;
  position: absolute;
  right: 22px;
  top: 48px;
  padding-left: 20%;
}

ul {
  padding-top: 10px;
}

/* desktop view */
@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    right: 0px;
    padding: 20px;
    align-items: center;
  }
  .main-nav,
  .active {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links {
    margin: 40px 25px 40px 40px;
    font-size: calc(1rem + 0.7vw);
  }
  .logo {
    margin: 0;
    padding-left: 5%;

    display: flex;
    flex-grow: 2;
    font-size: calc(1rem + 1vw);
  }
  .navbar-toggle {
    display: none;
  }
}
