html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ced4da;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
  padding-top: 40%;
  padding-bottom: 10%;
}

.card {
  box-shadow: 2rem 0 3rem -2rem #000;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15% 15% 15% 15%;
}

.card-title,
.form-title {
  font-size: calc(7vw + 5px);
  padding-bottom: 20%;
}

.card-text {
  font-size: calc(5vw + 5px);
  padding-bottom: 10%;
  text-align: left;
}

/* text and titles styling */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(5vw + 16px);
  text-align: center;
}
h2 {
  font-size: calc(5vw + 5px);
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: calc(5vw + 16px);
}
p {
  line-height: 1.5;
  padding: 3% 0;
  text-align: justify;
}

.entry-list ul {
  padding: 0;
}

.entry-list li {
  list-style-type: none;
}

/* forms */
.form {
  display: flex;
}
.form-title {
  text-align: center;
}
.form-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-btn {
  text-align: center;
  padding-top: 10%;
}

/* buttons */
.rounded-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: calc(1rem + 2vw);
}
.btn {
  width: auto;
  border: none;
  font-size: calc(1rem + 2vw);
  padding: 0.5em 1.5em;
  background-image: linear-gradient(-45deg, #b3bfc6 0%, #ced4da 100%);
  text-decoration: none;
  font-weight: 900;
  border-radius: 10em;
  color: #203a43;
}
.btn:after {
  content: "";
  display: block;
  width: 0%;
  padding-top: 5px;
  border-bottom: 1px solid #ced4da;
  transition: 0.5s;
}
.btn:hover:after,
.btn:focus:after {
  width: 100%;
}
