html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(
    to right top,
    #484d73,
    #555a81,
    #62678f,
    #6f759d,
    #7d83ab,
    #757ea3,
    #6e7a9b,
    #687593,
    #4f5d73,
    #394654,
    #262f38,
    #161a1d
  );
  color: #ced4da;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 65%;
}

section {
  padding: 30px 0px;
}

/* text and titles styling */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(5vw + 16px);
  text-align: center;
}
h2 {
  font-size: calc(5vw + 5px);
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: calc(5vw + 16px);
}
p {
  line-height: 1.5;
  padding: 3% 0;
  text-align: justify;
}

.entry-list ul {
  padding: 0;
}

.entry-list li {
  list-style-type: none;
}

/* forms */
.form {
  display: flex;
}
.form-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-btn {
  text-align: center;
}

/* buttons */
.rounded-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.btn {
  width: auto;
  background: transparent;
  border: none;
  font-size: 18px;
}
.btn:after {
  content: "";
  display: block;
  width: 0%;
  padding-top: 5px;
  border-bottom: 1px solid black;
  transition: 0.5s;
}
.btn:hover:after,
.btn:focus:after {
  width: 100%;
}
